
/* selector */
.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    gap: 15px;
    padding: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
}


/* selector */
.scroll-track {
    display: flex;
    /*Missing the following line
    causes the first 2 images to be cut off */
    justify-content: flex-start;
    /*gap: 15px;*/
}

/* descendent selector */
.scroll-track img {
    display: inline-block;
    /*height: 100%;
    width: 200px;*/
    flex-shrink: 0;
    border-radius: 8px;
    flex: 0 0 calc(33.333% - 0px);
    object-fit: cover;
    scroll-snap-align: start;
}

/* At-Rule responsible for scrolling speed 
This will surpercede the snapping requirements
from the previous selector
Comment out the following lines to use
snapping in the previous selector
*/

/* @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
} */