/* selector */
.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    gap: 15px;
    padding: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
}

/* selector */
.scroll-track {
    display: flex;
    /*Missing the following line
    causes the first 2 images to be cut off */
    justify-content: flex-start;
    /*gap: 15px;*/
}


.scroll-track .image-wrapper {
    flex: 0 0 calc(33.333% - 10px);
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;

}


.scroll-track .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border-radius: 8px;
    object-fit: contain;

}



